[workspace]
name = "Jupyterlite"
version = "0.1.0"
description = "Setup a pixi environment for building a jupyterlite app with WASM"
platforms = ["emscripten-wasm32", "linux-64"]
channels = ["https://repo.prefix.dev/emscripten-forge-dev", "conda-forge"]


[feature.cpp]
platforms = ["emscripten-wasm32"]
channels = ["https://repo.prefix.dev/emscripten-forge-dev", "conda-forge"]
dependencies = { xeus-cpp = "*" }
[feature.python]
platforms = ["emscripten-wasm32"]
channels = ["https://repo.prefix.dev/emscripten-forge-dev", "conda-forge"]
dependencies = { xeus-python = "*", matplotlib = "*", ipywidgets = "*", ipycanvas = "*", numpy = "*", pandas = "*" }
[feature.sqlite]
platforms = ["emscripten-wasm32"]
channels = ["https://repo.prefix.dev/emscripten-forge-dev", "conda-forge"]
dependencies = { xeus-sqlite = "*" }
[feature.javascript]
platforms = ["emscripten-wasm32"]
channels = ["https://repo.prefix.dev/emscripten-forge-dev", "conda-forge"]
dependencies = { xeus-javascript = "*" }


[feature.host]
platforms = ["linux-64"]
[feature.host.dependencies]
xeus = "*"
jupyterlite-core = "==0.7.1"
jupyterlab-language-pack-pt-BR = "*"
jupyterlite-xeus = "*"
jupyterlite-pyodide-kernel = "*"
jupyterlite-terminal = "*"
jupyterlab-myst = "*"
jupyter_server = "*"
ipywidgets = "*"
jupyterlab = "*"
jupyterlab-geojson = "*"


[feature.host.tasks]

setup_kernel = { cmd = """
pixi install \
-e c \
-e python \
-e sql \
-e javascript 
""" }

rename = "python scripts/rename.py"

build = { cmd = """
jupyter lite build \
--XeusAddon.default_channels=conda-forge \
--XeusAddon.prefix=.pixi/envs/c \
--XeusAddon.prefix=.pixi/envs/python \
--XeusAddon.prefix=.pixi/envs/sql \
--XeusAddon.prefix=.pixi/envs/javascript \
--config jupyter_lite_config.json
""", depends-on = ["setup_kernel", "rename"] }

serve = { cmd = "cd dist && python ../scripts/server.py", depends-on = [
    "build",
] }

[environments]
default = ["host"]
c = ["cpp"]
python = ["python"]
sql = ["sqlite"]
javascript = ["javascript"]
